<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Blog</title>
</head>
<h1> Bem vindo ao Blog do Projeto!</h1>
<h2> Site em construção!</h2>
<h3> Estou aprendendo JS e Node.JS em Desenvolvimento Web II - DSM</h3>
<h4> Com Prof. Claudio de Lima</h4>
<p> Para ter acesso à página com informações do home,
   aperte:
   <button><a href='http://localhost:3000/'>AQUI</a></button>

   <body>

   </body>

</html>